.card-icon {
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-box: border-box;
  transform-origin: top;

  &.left {
    animation-name: play-card-from-left;
  }

  &.right {
    animation-name: play-card-from-right;
  }

  &.hearts,
  &.diamonds {
    fill: red;
  }

  &.spades,
  &.clubs {
    fill: black;
  }

  &__outline {
    fill: white;
    height: 32px;
    rx: 2px;
    stroke-width: 1px;
    stroke: black;
    width: 24px;
  }

  &__rank,
  &__suit {
    font-size: xx-small;
  }

  @keyframes play-card-from-left {
    0% {
      transform: translateX(-100%) rotate(90deg);
    }

    25%, 75% {
      transform: translateX(0) rotate(0);
    }

    100% {
      transform: translateX(-100%) rotate(-45deg);
    }
  }

  @keyframes play-card-from-right {
    0% {
      transform: translateX(100%) rotate(-90deg);
    }

    25%, 75% {
      transform: translateX(0) rotate(0);
    }

    100% {
      transform: translateX(100%) rotate(45deg);
    }
  }
}
